@use '../../styles/variaveis' as *;

.knowleadsSection {
 margin-top: 2rem;
 border-bottom: 2px solid var(--Bordas);
 padding-bottom: 2rem;
}

.knowleadsTitle {
 font-size: $font-size-section;
 @media (max-width: 767px) {
  text-align: center;
 }
}

.knowleadsGrid {
 margin-top: 1.5rem;
 display: grid;
 grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
 grid-gap: 2rem;

 @media (min-width: 768px) and (max-width: 1024px) {
  grid-template-columns: 1fr 1fr 1fr;
 }

 @media (max-width: 767px) {
  grid-template-columns: 1fr 1fr;
 }
}

.icon {
 width: 100px;
 height: 100px;
 color: #6b7280;
 transition: color 0.3s ease;
 transition: 0.5s;

 &:hover {
  filter: drop-shadow(0 0 5px var(--hover-color, #61dafb));
  color: var(--hover-color, #61dafb);
  transform: scale(1.1);
  transition:
   filter 0.3s ease,
   transform 0.5s,
   color 0.3s ease;
 }
}
