//Cores

:root {
 --Fundo-Principal: #ffffff;
 --Texto-Principal: #1f1f1f;
 --Texto-Secundario: #4b5563;
 --Botao-Primario: #3b82f6;
 --Botao-Primario-Hover: #2563e8;
 --Bordas: #e5e7eb;
 --Icones-Links: #6b7280;
 --Icones-Hover: #748297;
}

[data-theme='dark'] {
 --Fundo-Principal: #0e1116;
 --Texto-Principal: #e5e5e5;
 --Texto-Secundario: #a1a1aa;
 --Botao-Primario: #3b82f6;
 --Botao-Primario-Hover: #2563e8;
 --Bordas: #1f2937;
 --Icones-Links: #6b7280;
 --Icones-Hover: #748297;
}

//FontSizes

$font-size-titulo: 2.5rem;
$font-size-section: 2rem;
$font-size-subtitulo: 1.5rem;
$font-size-text: 1rem;
$font-size-small: 0.875rem;

//Font-weight

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
