@import '../../styles/variaveis';

.aboutSection {
 margin-top: 5rem;
 border-bottom: 2px solid var(--Bordas);
 padding-bottom: 2rem;
}

.aboutTitle {
 font-size: $font-size-section;
 @media (max-width: 767px) {
  text-align: center;
 }
}

.aboutText {
 color: var(--Texto-Secundario);
 margin-top: 1rem;
 @media (max-width: 767px) {
  margin-left: 5%;
 }
}
