@import '../../styles/variaveis';

.aboutSection {
 margin-top: 5rem;
 border-bottom: 2px solid $Bordas;
 padding-bottom: 2rem;
}

.aboutTitle {
 font-size: $font-size-section;
}

.aboutText {
 color: $Texto-Secundario;
 margin-top: 1rem;
}
