@import '../../styles//variaveis';

.contactSection {
 margin-top: 2rem;
 border-bottom: 2px solid var(--Bordas);
 padding-bottom: 2rem;
}

.contactTitle {
 font-size: $font-size-section;

 @media (max-width: 767px) {
  text-align: center;
 }
}

.contactArea {
 display: flex;
 gap: 40px;
 @media (max-width: 767px) {
  flex-direction: column;
 }
}

.contactForm {
 display: flex;
 flex-direction: column;
 flex-wrap: wrap;
 align-content: flex-start;
 margin: 1rem 0 0 0;
 width: fit-content;
 gap: 20px;
}

.contactInput {
 color: var(--Texto-Secundario);
 background-color: var(--Bordas);
 border: none;
 height: 3rem;
 width: 40vw;
 padding-left: 16px;
 text-align: start;
 border-radius: 8px;
 font-weight: $font-weight-bold;

 @media (min-width: 768px) and (max-width: 1024px) {
  width: 55vw;
 }

 @media (max-width: 767px) {
  width: 85vw;
  margin: 0 10%;
 }
}

.contactLinks {
 margin: 1rem 0;
 display: flex;
 flex-direction: column;
 gap: 20px;

 a {
  margin-bottom: 0;
  cursor: pointer;
 }

 @media (max-width: 767px) {
  flex-direction: row;
 }
}

.contactLinksIcon {
 height: 3rem;
 width: 3rem;
 color: var(--Icones-Links);
 transition: 0.5s;
 overflow: visible;
 transform-origin: center;

 :hover {
  color: var(--Icones-Hover);
  transform: scale(1.1);
 }
}

.contactButton {
 background-color: var(--Botao-Primario);
 color: var(--Texto-Principal);
 width: 100%;
 border: none;
 height: 2.5rem;
 font-size: $font-size-text;
 display: flex;
 justify-content: center;
 align-items: center;
 gap: 5px;
 border-radius: 8px;
 font-weight: $font-weight-bold;
 cursor: pointer;

 .contactButtonIcon {
  margin: 0;
 }
}
